body
{
    background-color: blue;
}

h1
{
    color: orangered;
    text-align: center;
}

.texto
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 150%;
}

#playa
{
    width: 25%;
    margin-left: 38%;
}

.link
{
    color:black;
    margin-left: 21.5%;
}